/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* REGOLE GENERALI */

body{
    background-color: black;
    color: white;
}

svg{
    fill: white;
    width: 1em;
    height: auto;
}



/* HEADER */

header{
    margin-bottom: 7vh;
}

.header-container{
    margin-top: 10px;
    position: fixed;
    top: 0;
    right: 0;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    color: white;
    background-color: grey;
    margin-right: 5px;
    padding: 5px;
    border-radius: 5px;
}

header ul li a svg {
    vertical-align: top;
}



/* MAIN */

main {
    height: 70vh;
}



/* NAV */

nav {
    background-color: #222222;
    padding: 10px 0;
}

nav div.nav-container{
    display: flex;
    justify-content: space-between;
}

nav div ul li {
    display: inline-block;
    padding: 0 10px;
    text-align: center;
    cursor: pointer;
}

nav div ul li i#green {
     color: green;
}

nav div ul li i {
    font-size: 1.7em;
    padding-bottom: 10px;
}

nav div div.end{
    color: red;
    align-self: center;
    padding: 20px;
    background-color: rgb(128, 128, 128, 0.2);
    cursor: pointer;
}